@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

:root {
    --space-xs: clamp(1.25rem, 1rem + 0.98vw, 1.875rem);
    --space-sm: calc(var(--space-xs) * 1.5);
    --space-md: calc(var(--space-xs) * 2);
    --space-lg: calc(var(--space-xs) * 3);
    --space-xl: calc(var(--space-xs) * 4);
}